<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MIDIKit Framework (OS X).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MIDIKit Static (OS X).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MIDIKit Static (iOS).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Virtual Launchpad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>midirepl -- terminal.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>midirepl.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>522EA3E618FA4DDE00444217</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>524005E318FB06CD0030B46D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>524005F018FB06CD0030B46D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5240060B18FB08220030B46D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5240062218FB08220030B46D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>526F3B8818FD9B9800451D4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>526F3BA218FD9B9800451D4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5273C6D318DE96A200A8CFD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5273C6EA18DE96A200A8CFD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5273C70D18DEA14E00A8CFD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5273C72118DEA17B00A8CFD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>528DCB3318FAB3E50090FFFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>528DCB3F18FAB3E50090FFFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>528DCB5B18FABF870090FFFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52A1E05318FB876900D7073F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52A1E05F18FB876900D7073F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52B22F0A18F858E500A5A5D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52DDEDDD18FB549E0019BE98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52DDEDED18FB55400019BE98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
