<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MIDIKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>mktests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5273C6D318DE96A200A8CFD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5273C6EA18DE96A200A8CFD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5273C70D18DEA14E00A8CFD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5273C72118DEA17B00A8CFD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
