<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MIDIKit-OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MIDIKit-OSXTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MIDIKit-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MIDIKit-iOSTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>529ED0CE1D034C7600F44CF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>978419ED1CE75A1000F9804C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97841A151CE7897700F9804C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97841A2F1CE7B06300F9804C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97B2CDEB1D0492E200C8DE64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97B2CE091D049DD800C8DE64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97B2CE191D049E0B00C8DE64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
